<%= form_for(@website) do |f| %>
  <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <% if    params[:whom] == "person" %>
      <%= label_tag :person_id %><br />
      <%= select_tag :person_id, options_from_collection_for_select(Person.all, :id, :name), :include_blank => true %>
    <% elsif params[:whom] == "sponsor" %>
      <%= label_tag :sponsor_id %><br />
      <%= select_tag :sponsor_id, options_from_collection_for_select(Person.all, :id, :name), :include_blank => true %>
    <% end %>
  </div>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
