<h1>
  Websites
  ( <%= link_to "New", new_website_path %> )
</h1>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th></th>
  </tr>

<% @websites.each do |website| %>
  <tr>
    <td><%= website.name %></td>
    <td><%= link_to website.url, website.url %></td>
    <td>
      <%= link_to "Show", website %>
      <%= link_to "Edit", edit_website_path(website) %>
      <%= link_to "Destroy", website, :confirm => "Are you sure?", :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
