<% if @conf.name == "Farmhouse Conf 2" %>

  <div id="alumni" class="row">
    <div class="span12">
      <h2>Farmhouse Conf 2 Alumni Follow-Up</h2>

      <div class="row">
        <div id="eli-duke" class="span3">
          <h1>Eli&nbsp;Duke</h1>

          <%= link_to conf_talk_path(1, "eli-duke") do %>
            <%= remote_image_tag("speakers/1/eli-duke/eli-duke") %>
          <% end %>

          <p>
            <%= link_to "Eli Duke&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                        conf_talk_path(1, "eli-duke") %>
          </p>
        </div>

        <div id="sean-bonner" class="span3">
          <h1>Sean&nbsp;Bonner</h1>

          <%= link_to conf_talk_path(1, "sean-bonner") do %>
            <%= remote_image_tag("speakers/1/sean-bonner/sean-bonner") %>
          <% end %>

          <p>
            <%= link_to "Sean Bonner&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                        conf_talk_path(1, "sean-bonner") %>
          </p>
        </div>

        <div id="follow-up" class="span6">
          <h1>Video</h1>
          <iframe width="100%" height="270" src="http://youtube.com/embed/XVmm1PG9yG0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <!-- .row -->

    </div><!-- #alumni -->
  </div>

<% end %>
