<% if @conf.year == 2012 %>

  <div id="music" class="row">
    <div class="span12">
      <h2>Musical Guests</h2>

      <div id="mates-of-state" class="row">
        <div class="span12">
          <h1>Mates of State</h1>

          <p>
            <a href="http://twitter.com/matesofstate" title="@matesofstate on Twitter">@matesofstate</a>,
            <a href="http://matesofstate.com" title="Mates of State">Mates of State.com</a>,
            <a href="http://en.wikipedia.org/wiki/Mates_of_State" title="Mates of State - Wikipedia">Wikipedia</a>,
            <a href="http://youtube.com/matesofstate" title="Mates of State - YouTube">YouTube</a>,
            <a href="https://facebook.com/matesofstate" title="Mates of State - Facebook">Facebook</a>
          </p>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/3g5Oyl2rALc" frameborder="0" allowfullscreen></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/L3hdlvJzEQ0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="span6">
          <iframe height="315" src="http://www.youtube.com/embed/CbqrO9oxc7E" frameborder="0" allowfullscreen></iframe>
          <iframe height="315" src="http://www.youtube.com/embed/P8DjQlNNMlw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <!-- .row -->

      <div id="imagika-om" class="row">
        <div class="span12">
          <h1>Imagika Om</h1>

          <p>
            <a href="https://www.facebook.com/imagikaom">Facebook</a>,
            <a href="http://soundcloud.com/imagika" title="Imagika's Spotlight page on SoundCloud">SoundCloud</a>
          </p>
        </div>

        <div class="span6">
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11017055&amp;show_artwork=true"></iframe>
        </div>

        <div class="span6">
          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F43461629&amp;show_artwork=true"></iframe>
        </div>


        <div class="span6">
          <img src="http://farmhouse.s3.amazonaws.com/images/music/2012/imagika-om-lucent-dossier-experience-by-birdie-breeze.jpg" alt="" />

          <p class="photo-attribution">
            <%= link_to "by", "https://www.facebook.com/photo.php?fbid=383166408378008&set=a.193934247301226.55527.193933943967923", :rel => "external" %>
            <%= link_to "Birdie Breeze", "https://twitter.com/birdiebreeze", :rel => "external" %>
          </p>

          <img src="http://farmhouse.s3.amazonaws.com/images/music/2012/imagika-om-by-eleonora-barna.jpg" alt="" />

          <p class="photo-attribution">
            <%= link_to "by", "https://www.facebook.com/photo.php?fbid=10150550404123688&set=a.10150550157873688.433242.581743687", :rel => "external" %>
            <%= link_to "Eleonora Barna", "https://www.facebook.com/eleonorabarnaphotography", :rel => "external" %>
          </p>

          <img src="http://farmhouse.s3.amazonaws.com/images/music/2012/imagika-om-at-coachella-1.jpg" alt="" />

          <p class="photo-attribution">
            <%= link_to "photo source", "https://www.facebook.com/photo.php?fbid=424472484247400&set=a.193934247301226.55527.193933943967923&type=3", :rel => "external" %>
          </p>
        </div>

        <div class="span6">
          <img src="http://farmhouse.s3.amazonaws.com/images/music/2012/imagika-om-by-watchara.jpg" alt="" />

          <p class="photo-attribution">
            <%= link_to "by Watchara", "https://www.facebook.com/photo.php?fbid=418499608178021&set=a.193934247301226.55527.193933943967923", :rel => "external" %>
          </p>

          <img src="http://farmhouse.s3.amazonaws.com/images/music/2012/imagika-om-mask.jpg" alt="" />

          <p class="photo-attribution">
            <%= link_to "photo source", "https://www.facebook.com/photo.php?fbid=10150370662093688&set=o.193933943967923", :rel => "external" %>
          </p>

          <img src="http://farmhouse.s3.amazonaws.com/images/music/2012/imagika-om-at-coachella-2.jpg" alt="" />

          <p class="photo-attribution">
            <%= link_to "photo source", "https://www.facebook.com/photo.php?fbid=423605201000795&set=a.193934247301226.55527.193933943967923&type=3", :rel => "external" %>
          </p>
        </div>
      </div> <!-- .row -->

    </div><!-- #music -->
  </div>

<% end %>
