<div class="subnav">
  <ul class="nav nav-pills">
    <%= nav_to "Farmhouse Conf 5",   conf_path(5) %>
    <%= nav_to "Farmhouse Conf 4",   conf_path(4) %>
    <%= nav_to "FHC3",               conf_path(3) %>
    <%= nav_to "FHC2",               conf_path(2) %>
    <%= nav_to "FHC1",               conf_path(1) %>
    <%= nav_to "Sponsor Prospectus", sponsor_path %>
    <%= nav_to "Code of Conduct",    code_of_conduct_path %>
  </ul>
</div>
