<% if @conf.year == 2012 %>
  <div class="row">

    <div class="span12">
      <h2 id="scott-beibin">Acknowledgments</h2>

      <div class="row">
        <div class="span6">
          <h1>
            Special thanks to <b>Scott Beibin</b> of
            <b><a href="http://eviltwinbooking.com/" title="Evil Twin Booking -">Evil Twin Booking</a></b>
            for acting as
            <b>Co-Curator</b> and <b>Development Consultant</b>.
          </h1>
        </div>

        <div class="span6">
          <%= link_to_sponsor_image_tag(2012, "evil-twin-booking", "http://eviltwinbooking.com") %>
        </div>
      </div> <!-- .row -->
    </div><!-- #scott-beibin -->


    <div class="span12">
      <h2 id="party">After Party Sponsors</h2>

      <div class="row">
        <%
        [
          ["engine-yard", "http://engineyard.com"],
          ["sendgrid",    "http://sendgrid.com"]
        ].each do |name, url| %>
          <div class="span6">
            <%= link_to_sponsor_image_tag(2012, name, url) %>
          </div>
        <% end %>
      </div> <!-- .row -->
    </div><!-- #party -->


    <div class="span12">
      <h2 id="sponsors">Sponsors</h2>

      <div class="row">
        <div class="span6">
          <%
          [
            ["okcupid-labs",     "http://okcupidlabs.com"],
            ["github",           "http://github.com"     ],
            ["the-hybrid-group", "http://hybridgroup.com"],
            ["znp-industries",   ""                      ],
            ["factual",          "http://factual.com"    ]
          ].each do |name, url| %>
            <%= link_to_sponsor_image_tag(2012, name, url) %>
          <% end %>
        </div>

        <div class="span6">
          <%
          [
            ["square",           "http://squareup.com"   ],
            ["blueboxgroup",     "http://bluebox.net"    ],
            ["spire-io",         "http://spire.io"       ],
            ["zaarly",           "http://zaarly.com"     ]
          ].each do |name, url| %>
            <%= link_to_sponsor_image_tag(2012, name, url) %>
          <% end %>
        </div>
      </div> <!-- .row -->
    </div><!-- #sponsors -->


    <div class="span12">
      <h2 id="meals">Food and Drink Sponsors</h2>

      <div class="row">
        <div class="span6">
          <%
          [
            ["doomies",           "http://twitter.com/doomies"],
            ["veggie-grill",      "http://veggiegrill.com"    ],
            ["cruzer",            "http://cruzerpizza.com"    ],
            ["tonx",              "http://tonx.org"           ]
          ].each do |name, url| %>
            <%= link_to_sponsor_image_tag(2012, name, url) %>
          <% end %>
        </div>

        <div class="span6">
          <%
          [
            ["claras-cakes",      "http://ClaraCakes.com"   ],
            ["pac-nw-kale-chips", "http://pacifickale.com"  ],
            ["c2o",               "http://c2o-cocowater.com"]
          ].each do |name, url| %>
            <%= link_to_sponsor_image_tag(2012, name, url) %>
          <% end %>
        </div>
      </div> <!-- .row -->
    </div><!-- #meals -->


    <div class="span12">
      <h2 id="goodies">Goodie Bag Sponsors</h2>

      <div class="row">
        <div class="span6">
          <%
          [
            ["field-notes", "http://fieldnotesbrand.com"],
            ["spacex",      "http://spacex.com"         ]
          ].each do |name, url| %>
            <%= link_to_sponsor_image_tag(2012, name, url) %>
          <% end %>
        </div>

        <div class="span6">
          <%
          [
            ["heroku",     "http://heroku.com"    ],
            ["crimethinc", "http://crimethinc.com"],
            ["baggu",      "http://baggubag.com"  ]
          ].each do |name, url| %>
            <%= link_to_sponsor_image_tag(2012, name, url) %>
          <% end %>
        </div>
      </div> <!-- .row -->
    </div><!-- #goodies -->
  </div>
<% end %>
