<h1>Listing confs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Subtitle</th>
    <th>Year</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Location</th>
    <th>Twitter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @confs.each do |conf| %>
  <tr>
    <td><%= conf.name %></td>
    <td><%= conf.subtitle %></td>
    <td><%= conf.year %></td>
    <td><%= conf.starts_at %></td>
    <td><%= conf.ends_at %></td>
    <td><%= conf.location_id %></td>
    <td><%= conf.twitter %></td>
    <td><%= link_to 'Show', conf %></td>
    <td><%= link_to 'Edit', edit_conf_path(conf) %></td>
    <td><%= link_to 'Destroy', conf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conf', new_conf_path %>
