<%= render "nav" %>

<article class="vevent h-event">
  <header>
    <h1 class="p-name summary"><%= @conf.name %></h1>

    <h2 class="p-description description"><%= @conf.subtitle.html_safe %></h2>

    <div class="row">
      <div class="span6">
        <h3>At <span class="p-location location"><%= @conf.location.name %></span></h3>
        <h4>
          <%= time_tag @conf.starts_at, :class => "dt-start dtstart" %>
          &ndash;
          <%= time_tag @conf.ends_at, :class => "dt-end dtend"  %>
        </h4>

        <p class="twitter"><%= link_to_twitter(@conf) %></p>
      </div>

      <div class="span12">
        <div class="row">

          <div class="span6" id="description">
            <h3>Description</h3>
            <div class="p-description description">
              <%= render "/confs/descriptions/#{sluggify @conf.name, '_'}" %>
            </div>
          </div>

          <div class="span6 p-description description more-description">
            <%= render "/confs/extra_descriptions/#{sluggify @conf.name, '_'}" %>
          </div>
        </div> <!-- .description -->

      </div> <!-- .span12 -->
    </div> <!-- .row -->
  </header>

  <%= render "/confs/schedule/farmhouse_conf_#{@conf.id}" %>
  <%= render "talks"    %>
  <%= render "alumni" %>
  <%= render "/confs/music/farmhouse_conf_#{@conf.id}" %>
  <%= render "sponsors" %>
</article>
