<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @conf.name %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @conf.subtitle %>
</p>

<p>
  <b>Year:</b>
  <%= @conf.year %>
</p>

<p>
  <b>Starts at:</b>
  <%= time_tag @conf.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= time_tag @conf.ends_at %>
</p>

<p>
  <b>Location:</b>
  <%= link_to @conf.location.name, @conf.location %>
</p>

<p>
  <b>Twitter:</b>
  <%= link_to_twitter(@conf) %>
</p>


<p>
  <%= link_to 'Edit', edit_conf_path(@conf) %>
  <%= link_to 'Back', confs_path %>
</p>
