<%= render "nav" %>

<article>
  <header>
    <h1><%= @conf.name %></h1>

    <h2><%= @conf.subtitle.html_safe %></h2>

    <div class="row">
      <div class="span6">
        <h3>At <%= @conf.location.name %></h3>
        <h4>
          <%= time_tag @conf.starts_at %>
          &mdash;
          <%= time_tag @conf.ends_at %>
        </h4>

        <p class="twitter"><%= link_to_twitter(@conf) %></p>
      </div>

      <div class="span12">
        <div class="row">

          <div class="span6" id="description">
            <h3>Description</h3>
            <%= render "/confs/descriptions/#{sluggify @conf.name, '_'}" %>
          </div>

          <%= render "/confs/extra_descriptions/#{sluggify @conf.name, '_'}" %>
        </div> <!-- .description -->

      </div> <!-- .span12 -->
    </div> <!-- .row -->
  </header>

  <%= render "talks"    %>
  <%= render "/confs/alumni/farmhouse_conf_#{@conf.id}" %>
  <%= render "/confs/music/farmhouse_conf_#{@conf.id}" %>
  <%= render "/confs/schedule/farmhouse_conf_#{@conf.id}" %>
  <%= render "/confs/sponsors" %>
</article>
