<%= render :partial => "nav" %>

<article>
  <header>
    <h1>
      <%= link_to_conf @conf %>

      <% if editing? %>
      ( <%= link_to "Edit", edit_conf_path(@conf) %> )
      <% end %>
    </h1>

    <h2><%= @conf.subtitle %></h2>

    <div class="row">
      <div class="span6">
        <h3>In <%= @conf.year %> at <%= @conf.location.name %></h3>
        <h4>
          <%= time_tag @conf.starts_at %>
          &mdash;
          <%= time_tag @conf.ends_at %>
        </h4>

        <p class="twitter"><%= link_to_twitter(@conf) %></p>

        <div class="description">
          <%= render "/confs/descriptions/farmhouse_conf_#{@conf.year}" %>
        </div> <!-- .description -->
      </div>

      <% if @conf.year == 2012 %>
        <div id="sponsors" class="span6">
          <h2>Sponsors</h2>

          <%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/sponsors/2012/okcupid-labs.png"), "http://okcupidlabs.com", :rel => "external" %>
          <%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/sponsors/2012/github.png"),       "https://github.com",     :rel => "external" %>
        </div>
      <% end %>
    </div>
  </header>


  <% unless @conf.talks.blank? %>
    <% @conf.talks.in_groups_of(2).each do |row| %>
      <div class="row">

        <% row.each do |talk| %>
          <div class="span6">
            <h2><%= link_to talk.title, year_talk_path(talk.conf.year, talk.slug) %></h2>
            <%= link_to remote_image_tag("speakers/#{talk.conf.year}/#{talk.people.first.slug}/#{talk.people.first.slug}"), year_talk_path(talk.conf.year, talk.slug) %>

            <div class="notes">
              <%# talk.description %>
            </div>
          </div>
        <% end %>

      </div> <!-- .row -->
    <% end %>
  <% end %>
</article>
