<li>
  <article class="vcard h-card">
    <%= image_tag person.image, :class => "photo p-photo" %>

    <h1><%= link_to_person(person) %></h1>

    <%= render :partial => 'websites', :locals => { :person => person } %>

    <p class="note">
      <%= person.bio %>
    </p>

    <p>
      <%= "Staff" if person.staff? %>
      <%= "Organizer" if person.organizer? %>
    </p>

    <% if editing? %>
      <ul class="actions">
        <li><%= link_to 'Edit', edit_person_path(person) %></li>
        <li><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></li>
      </ul>
    <% end %>
  </article>
</li>
