<div id="alumni" class="row">
  <div class="span12">
    <h2>Farmhouse Conf 4 Alumni Follow-Up</h2>

    <div class="row">

      <div id="tara-brown" class="span3">
        <h1>Tara&nbsp;Brown</h1>

        <%= link_to conf_talk_path(2, "mapping-the-la-tech-scene") do %>
          <%= remote_image_tag("speakers/tara-brown", :alt => "Tara Brown") %>
        <% end %>

        <p>
          <%= link_to "Tara Brown&rsquo;s Farmhouse Conf 2 Talk".html_safe, conf_talk_path(2, "mapping-the-la-tech-scene") %>
        </p>
      </div> <!-- #tara-brown -->

      <div id="mitch-artman" class="span3">
        <h1>Mitch&nbsp;Artman</h1>

        <%= link_to conf_talk_path(2, "falling-off-the-map-skid-row-life-cycle") do %>
          <%= remote_image_tag("speakers/mitch-artman", :alt => "Mitch Artman") %>
        <% end %>

        <p>
          <%= link_to "Mitch Artman&rsquo;s Farmhouse Conf 2 Talk".html_safe, conf_talk_path(2, "falling-off-the-map-skid-row-life-cycle") %>
        </p>
      </div> <!-- #mitch-artman -->

      <div id="megan-dean" class="span3">
        <h1>Megan&nbsp;Dean</h1>

        <%= link_to conf_talk_path(3, "making-bikes-work") do %>
          <%= remote_image_tag("speakers/megan-dean", :alt => "Megan Dean") %>
        <% end %>

        <p>
          <%= link_to "Megan Dean&rsquo;s Farmhouse Conf 3 Talk".html_safe, conf_talk_path(3, "making-bikes-work") %>
        </p>
      </div> <!-- #megan-dean -->

      <div id="eric-gradman" class="span3">
        <h1>Eric&nbsp;Gradman</h1>

        <%= link_to conf_talk_path(2, "theres-no-map-for-inventiveness") do %>
          <%= remote_image_tag("speakers/eric-gradman", :alt => "Eric Gradman") %>
        <% end %>

        <p>
          <%= link_to "Eric Gradman&rsquo;s Farmhouse Conf 3 Talk".html_safe, conf_talk_path(3, "theres-no-map-for-inventiveness") %>
        </p>
      </div> <!-- #eric-gradman -->

      <div id="sean-bonner" class="span3">
        <h1>Sean&nbsp;Bonner</h1>

        <%= link_to conf_talk_path(1, "sean-bonner") do %>
          <%= remote_image_tag("speakers/sean-bonner", :alt => "Sean Bonner") %>
        <% end %>

        <p>
          <%= link_to "Sean Bonner&rsquo;s Farmhouse Conf 1 Talk".html_safe, conf_talk_path(1, "sean-bonner") %>
        </p>
      </div> <!-- #sean-bonner -->

    </div> <!-- .row -->

  </div><!-- #alumni -->
</div>
