<div id="alumni" class="row">
  <div class="span12">
    <h2>Farmhouse Conf 5 Alumni Follow-Up</h2>

    <div class="row">

      <div id="greg-bennick" class="span3">
        <h1>Greg&nbsp;Bennick</h1>

        <%= link_to conf_talk_path(2, "the-map-from-trauma-to-survival") do %>
          <%= remote_image_tag("speakers/greg-bennick", :alt => "Greg Bennick") %>
        <% end %>

        <p>
          <%= link_to "Greg Bennick&rsquo;s Farmhouse Conf 2 Talk".html_safe,
                      conf_talk_path(2, "the-map-from-trauma-to-survival") %>
        </p>
      </div><!-- #greg-bennick -->

      <div id="tj-nelson-jr" class="span3">
        <h1>Tj&nbsp;Nelson&nbsp;Jr</h1>

        <%= link_to conf_talk_path(1, "tj-nelson-jr") do %>
          <%= remote_image_tag("speakers/tj-nelson-jr", :alt => "Tj Nelson Jr") %>
        <% end %>

        <p>
          <%= link_to "Tj Nelson Jr&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                      conf_talk_path(1, "tj-nelson-jr") %>
        </p>
      </div><!-- #tj-nelson-jr -->

      <div id="leah-silber" class="span3">
        <h1>Leah&nbsp;Silber</h1>

        <%= link_to conf_talk_path(1, "leah-silber") do %>
          <%= remote_image_tag("speakers/leah-silber", :alt => "Leah Silber") %>
        <% end %>

        <p>
          <%= link_to "Leah Silber&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                      conf_talk_path(1, "leah-silber") %>
        </p>
      </div><!-- #leah-silber -->

      <div id="evan-phoenix" class="span3">
        <h1>Evan&nbsp;Phoenix</h1>

        <%= link_to conf_talk_path(1, "evan-phoenix") do %>
          <%= remote_image_tag("speakers/evan-phoenix", :alt => "Evan Phoenix") %>
        <% end %>

        <p>
          <%= link_to "Evan Phoenix&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                      conf_talk_path(1, "evan-phoenix") %>
        </p>
      </div><!-- #evan-phoenix -->

      <div id="eli-duke" class="span3">
        <h1>Eli&nbsp;Duke</h1>

        <%= link_to conf_talk_path(1, "eli-duke") do %>
          <%= remote_image_tag("speakers/eli-duke", :alt => "Eli Duke") %>
        <% end %>

        <p>
          <%= link_to "Eli Duke&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                      conf_talk_path(1, "eli-duke") %>
        </p>
      </div><!-- #eli-duke -->

      <div id="sarah-mei" class="span3">
        <h1>Sarah&nbsp;Mei</h1>

        <%= link_to conf_talk_path(1, "sarah-mei") do %>
          <%= remote_image_tag("speakers/sarah-mei", :alt => "Sarah Mei") %>
        <% end %>

        <p>
          <%= link_to "Sarah Mei&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                      conf_talk_path(1, "sarah-mei") %>
        </p>
      </div><!-- #sarah-mei -->

      <div id="tara-brown" class="span3">
        <h1>Tara&nbsp;Brown</h1>

        <%= link_to conf_talk_path(2, "mapping-the-la-tech-scene") do %>
          <%= remote_image_tag("speakers/tara-brown", :alt => "Tara Brown") %>
        <% end %>

        <p>
          <%= link_to "Tara Brown&rsquo;s Farmhouse Conf 2 Talk".html_safe, conf_talk_path(2, "mapping-the-la-tech-scene") %>
        </p>
      </div> <!-- #tara-brown -->

      <div id="mitch-artman" class="span3">
        <h1>Mitch&nbsp;Artman</h1>

        <%= link_to conf_talk_path(2, "falling-off-the-map-skid-row-life-cycle") do %>
          <%= remote_image_tag("speakers/mitch-artman", :alt => "Mitch Artman") %>
        <% end %>

        <p>
          <%= link_to "Mitch Artman&rsquo;s Farmhouse Conf 2 Talk".html_safe, conf_talk_path(2, "falling-off-the-map-skid-row-life-cycle") %>
        </p>
      </div> <!-- #mitch-artman -->

      <div id="ron-evans" class="span3">
        <h1>Ron&nbsp;Evans</h1>

        <%= link_to conf_talk_path(4, "future-current-the-robot-r-evolution") do %>
          <%= remote_image_tag("speakers/ron-evans", :alt => "Ron Evans") %>
        <% end %>

        <p>
          <%= link_to "Ron Evans&rsquo;s Farmhouse Conf 4 Talk".html_safe, conf_talk_path(2, "future-current-the-robot-r-evolution") %>
        </p>
      </div> <!-- #ron-evans -->

      <div id="willowbl00" class="span3">
        <h1>willowbl00</h1>

        <%= link_to conf_talk_path(4, "future-current-the-robot-r-evolution") do %>
          <%= remote_image_tag("speakers/willowbl00", :alt => "willowbl00") %>
        <% end %>

        <p>
          <%= link_to "willowbl00&rsquo;s Farmhouse Conf 4 Talk".html_safe, conf_talk_path(4, "replacing-uppercase-f-fucked-with-uppercase-future-active-participation-in-response") %>
        </p>
      </div> <!-- #willowbl00 -->

    </div> <!-- .row -->

  </div><!-- #alumni -->
</div>
