<div id="alumni" class="row">
  <div class="span12">
    <h2>Farmhouse Conf 2 Alumni Follow-Up</h2>

    <div class="row">
      <div id="eli-duke" class="span3">
        <h1>Eli&nbsp;Duke</h1>

        <%= link_to conf_talk_path(1, "eli-duke") do %>
          <%= remote_image_tag("speakers/eli-duke", :alt => "Eli Duke") %>
        <% end %>

        <p>
          <%= link_to "Eli Duke&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                      conf_talk_path(1, "eli-duke") %>
        </p>
      </div>

      <div id="sean-bonner" class="span3">
        <h1>Sean&nbsp;Bonner</h1>

        <%= link_to conf_talk_path(1, "sean-bonner") do %>
          <%= remote_image_tag("speakers/sean-bonner", :alt => "Sean Bonner") %>
        <% end %>

        <p>
          <%= link_to "Sean Bonner&rsquo;s Farmhouse Conf 1 Talk".html_safe,
                      conf_talk_path(1, "sean-bonner") %>
        </p>
      </div>
    </div> <!-- .row -->

  </div><!-- #alumni -->
</div>
