<%= render "/confs/nav" %>

<article class="vevent h-event">
  <header>
    <h1 class="p-name summary"><%= @talk.title.html_safe %></h1>

    <h2>
      By <span class="h-card vcard"><span class="p-name fn n"><%= @talk.people.first.name %></span></span>
      at <%= link_to @talk.conf.name, @talk.conf, :class => "u-url url p-location location" %>
    </h2>
  </header>


  <div class="row">
    <div class="span6">
      <%= remote_image_tag("speakers/#{@talk.people.first.slug}", :alt => @talk.people.first.name, :class => "u-photo photo") %>

      <div class="p-note note">
        <%= simple_format @talk.description.html_safe %>
      </div> <!-- .note -->

      <div class="p-note note">
        <%= @talk.people.first.bio.html_safe %>
      </div>
    </div>

    <div class="span6">
      <% unless @talk.videos.blank? %>
        <% @talk.videos.each do |video| %>

          <div class="video">

            <% if video.youtube =~ /vimeo/ %>
              <iframe height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen src="https://player.vimeo.com/video/<%= video.youtube.split("/").last %>?byline=0&amp;portrait=0"></iframe>
            <% elsif video.youtube %>
              <iframe height="360" src="http://www.youtube.com/embed/<%= video.youtube %>"></iframe>
            <% else %>
              <video controls poster="<%= video.poster_frame_url %>" preload="none">
                <source src="<%= video.mp4 %>" />
              </video>
            <% end %>

            <p class="notes">
              Video by <%= video.videographer %>.
              <%= link_to "Higher resolutions", video.canonical_url, :rel => "external" %>
              available at
              <%= link_to "Confreaks.", "http://confreaks.com", :rel => "external" %>
            </p>

          </div> <!-- .video -->

        <% end %>
      <% end %>
    </div>
  </div> <!-- .row -->
</article>
