<%= render "/confs/nav" %>

<article>
  <header>
    <h1><%= @talk.title.html_safe %></h1>

    <h2>
      By <%= @talk.people.first.name %>

      at <%= link_to_conf(@talk.conf) %>
    </h2>
  </header>


  <div class="row">
    <div class="span6">
      <%= remote_image_tag("speakers/#{@talk.conf.year}/#{@talk.people.first.slug}/#{@talk.people.first.slug}") %>

      <%= simple_format @talk.description, :class => "notes" %>

      <%= @talk.people.first.bio.html_safe %>
    </div>

    <div class="span6">
      <% unless @talk.videos.blank? %>
        <% if @talk.videos.first.youtube %>
          <iframe width="100%"
                  height="360"
                  src="http://www.youtube.com/embed/<%= @talk.videos.first.youtube %>"
                  frameborder="0"
                  allowfullscreen>
          </iframe>
        <% else %>
          <video controls poster="<%= @talk.videos.first.poster_frame_url %>" preload="none">
            <source src="<%= @talk.videos.first.mp4 %>" />
          </video>
        <% end %>

        <p class="notes">
          Video by <%= @talk.videos.first.videographer %>.
          <%= link_to "Higher resolutions", @talk.videos.first.canonical_url, :rel => "external" %>
          available at
          <%= link_to "Confreaks.", "http://confreaks.com", :rel => "external" %>
        </p>
      <% end %>
    </div>
  </div> <!-- .row -->
</article>
