<p id="notice"><%= notice %></p>

<p>
  <b>Conf:</b>
  <%= link_to_conf(@talk.conf) %>
</p>

<p>
  <b>Title:</b>
  <%= @talk.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @talk.subtitle %>
</p>

<ul>
  <% @talk.people.each do |person| %>
    <li>
      <%= link_to_person(person) %>

      <% if editing? %>
        <%= link_to "x", speaking_path(speaking(@talk, person)), :method => :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  <b>Description:</b>
  <%= @talk.description %>
</p>

<p>
  <b>Accepted:</b>
  <%= @talk.accepted %>
</p>

<p>
  <b>Keynote:</b>
  <%= @talk.keynote %>
</p>


<% if editing? %>
  <p>
    <%= link_to "Edit", edit_talk_path(@talk) %>
    <%= link_to "Talks", talks_path %>
  </p>
<% end %>
