<%= render "/confs/nav" %>

<article>
  <header>
    <h1><%= @talk.title.html_safe %></h1>

    <h2>
      By <%= @talk.people.first.name %>
      at <%= link_to @talk.conf.name, @talk.conf %>
    </h2>
  </header>


  <div class="row">
    <div class="span6">
      <%= remote_image_tag("speakers/#{@talk.people.first.slug}", :alt => @talk.people.first.name) %>

      <div class="notes">
        <%= simple_format @talk.description.html_safe %>
      </div> <!-- .notes -->

      <%= @talk.people.first.bio.html_safe %>
    </div>

    <div class="span6">
      <% unless @talk.videos.blank? %>
        <% @talk.videos.each do |video| %>

          <div class="video">

            <% if video.youtube %>
              <iframe height="360" src="http://www.youtube.com/embed/<%= video.youtube %>"></iframe>
            <% else %>
              <video controls poster="<%= video.poster_frame_url %>" preload="none">
                <source src="<%= video.mp4 %>" />
              </video>
            <% end %>

            <p class="notes">
              Video by <%= video.videographer %>.
              <%= link_to "Higher resolutions", video.canonical_url, :rel => "external" %>
              available at
              <%= link_to "Confreaks.", "http://confreaks.com", :rel => "external" %>
            </p>

          </div> <!-- .video -->

        <% end %>
      <% end %>
    </div>
  </div> <!-- .row -->
</article>
