<div class="row">

  <div class="span12">
    <h2 id="sponsors">After Party Sponsors</h2>

    <div class="row">
      <div class="span6">
        <%
        [
          ["github", "http://github.com"]
        ].each do |name, url| %>
          <%= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>

      <div class="span6">
        <%
        [
        ].each do |name, url| %>
          <%#= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>
    </div> <!-- .row -->
  </div><!-- #sponsors -->

  <div class="span12">
    <h2 id="sponsors">Sponsors</h2>

    <div class="row">
      <div class="span6">
        <%
        [
          ["the-hybrid-group",       "http://hybridgroup.com"],
          ["the-hub-la",             "http://thehubla.com"],
          ["logical-reality-design", "http://lrdesign.com"],
          ["the-frontier-group",     "http://thefrontiergroup.com.au"]
        ].each do |name, url| %>
          <%= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>

      <div class="span6">
        <%
        [
          ["okcupid-labs",   "http://okcupidlabs.com"],
          ["cloud-city",     "http://www.cloudcitydevelopment.com"],
          ["code-climate",   "http://codeclimate.com"]
        ].each do |name, url| %>
          <%= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>
    </div> <!-- .row -->
  </div><!-- #sponsors -->


  <div class="span12">
    <h2 id="goodies">Goodie Bag Sponsors</h2>

    <div class="row">
      <div class="span6">
        <%
        [
          ["johnny-cupcakes", "http://johnnycupcakes.com"],
          ["luna-sandals",    "http://lunasandals.com"]
        ].each do |name, url| %>
          <%= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>

      <div class="span6">
        <%
        [
          ["moth-attack",    "http://mothattack.com"],
          ["graft-concepts", "http://graftconcepts.com"]
        ].each do |name, url| %>
          <%= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>
    </div> <!-- .row -->
  </div><!-- #goodies -->


  <div class="span12">
    <h2 id="goodies">Scholarship Sponsors</h2>

    <div class="row">
      <div class="span6">
        <%
        [
          ["noisivelvet", "http://noisivelvet.com"]
        ].each do |name, url| %>
          <%= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>

      <div class="span6">
        <%
        [
          ["", ""]
        ].each do |name, url| %>
          <%# link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>
    </div> <!-- .row -->
  </div><!-- #goodies -->


  <div class="span12">
    <h2 id="meals">Food and Drink Sponsors</h2>

    <div class="row">
      <div class="span6">
        <%
        [
          ["tonx",              "http://tonx.org"]
        ].each do |name, url| %>
          <%= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>

      <div class="span6">
        <%
        [
          ["claras-cakes",      "http://ClaraCakes.com"]
        ].each do |name, url| %>
          <%= link_to_sponsor_image_tag(name, url) %>
        <% end %>
      </div>
    </div> <!-- .row -->
  </div><!-- #meals -->

</div>
