<style>
.row h2{margin-top:0;}
blockquote{margin-bottom:.5em;}
h4{margin:1em 0 .5em 0;}
</style>

<article id="conf" class="vevent h-event">

  <header>
    <h1 class="p-name summary">Barn Talks : 2</h1>

    <h2 class="p-description description">The Briefing: An Intimate Night With <strong>Margaret Killjoy</strong> and the Strange World of the Future in a 100 Year old Barn in Hollywood, California</h2>

    <div class="row">
      <div class="span6">
        <h3>At <span class="p-location location">The Farmhouse</span></h3>
        <h4>
          <time class="dt-start dtstart" datetime="2014-03-16T18:00-08:00">Sunday March 16, 6pm</time>
          &ndash;
          <time class="dt-end dtend"     datetime="2014-03-16T21:00-08:00">9pm</time>
        </h4>

        <p class="twitter">
          <%= link_to "@farmhouse", "https://twitter.com/farmhouse", rel: "external me" %>
        </p>
      </div>

      <div class="span6">
        <%= link_to register_path, class: "btn btn-large btn-success" do %>
          <strong>Register Now</strong>&nbsp;&nbsp;
          ( $20 &ndash; $50 )
        <% end %>

        <div class="row">
          <div class="span3">
            <h4>High End Ticket</h4>
            <p>This ticket price gets you nothing special extra, but it helps support the event so that some people (who otherwise can't afford the higher ticket price) can come for the lower price.</p>
          </div>
          <div class="span3">
            <h4>Low End Ticket</h4>
            <p>This ticket price is the cheaper of the two. If you can afford the more expensive one, please buy that. If not, that's fine. Get this one.</p>
          </div>
        </div>
      </div>
    </div> <!-- .row -->
  </header>

  <div class="row">
    <div id="description" class="span-12">
      <h3>Description</h3>
      <div class="p-description description">
        <p>
          Come spend an informal night listening to <a href="http://birdsbeforethestorm.net" title="Margaret Killjoy">Margaret Killjoy</a> tell stories about anarchist fiction (and anarchism in fiction) with 50 other people in an intimate 100 year old barn in the heart of Hollywood, California. Light drinks and snacks will be provided.
        </p>

        <p>
          <strong>Cost: $20-$50 sliding scale.</strong>
        </p>

        <p>
          Email <strong><a href="mailto:barn@Farmhouse.LA">barn@Farmhouse.LA</a></strong> if you&rsquo;re interested in sponsoring the night.
        </p>
      </div>
    </div> <!-- #description -->
  </div> <!-- .row -->

  <div class="row">
    <div class="talk span6 h-card vcard p-speaker speaker">
      <h2 id="warren-ellis">
        <%= link_to "/barn-talks/2-margaret-killjoy" do %>
          <b class="p-name fn n">Margaret Killjoy</b> <br />
          Utopia and the Anarchist Imagination
        <% end %>
      </h2>

      <%= link_to "/barn-talks/2-margaret-killjoy", class: "u-url url" do %>
        <%= remote_image_tag("speakers/margaret-killjoy", alt: "Margaret Killjoy", class: "u-photo photo") %>
      <% end %>
    </div> <!-- .span6 -->

    <div class="span6">

      <div class="p-note note">
        <p>
          <strong>Description:</strong>
          What is the usefulness of fiction &mdash; utopian fiction in particular &mdash; in anarchist struggle and social change? Starting with a historical overview of anarchist fiction writers, this talk will discuss how fiction impacts social struggle, and the interrelation of storytelling and social change. We will then explore the nuances of writing a dystopia versus a utopia? Is writing a dystopian novel the easy way out? What are are the unique challenges of writing a utopia?
        </p>

        <!-- <p><b><%#= link_to "Watch the video &rarr;", "/barn-talks/2-margaret-killjoy", :class => "u-url url" %></b></p> -->
      </div>
      <div class="bio p-note note">

        <p>
          <strong>Bio:</strong>
          Author and editor <a href="https://twitter.com/magpiekilljoy">Margaret Killjoy</a> is touring to promote his forthcoming book, <a href="http://www.combustionbooks.org/products-page/fiction/a-country-of-ghosts/" title="A Country of Ghosts">A Country of Ghosts</a>, an anarchist utopian novel to be published by Combustion Books. In this talk, Margaret will focus on the usefulness of fiction &mdash; with a focus on utopian fiction &mdash; in anarchist struggle. Check out the awesome video below of Margaret speaking with Ursula K LeGuin in Portland.
        </p>

        <p>
          Margaret Killjoy is the editor of Mythmakers &amp; Lawbreakers: Anarchist Writers on Fiction as well as We Are Many: Reflections on Movement Strategy from Occupation to Liberation (which was referred to as &ldquo;deftly edited&rdquo; by The New Yorker). His first fiction book was What Lies Beneath the Clock Tower. Margaret’s fiction has been praised by Alan Moore and Cory Doctorow, and SJ Chambers called the book, &ldquo;A fun read, not only engaging, but also enlightening. It is a story about class warfare, capitalism, oppression, revolution, and most of all free will.&rdquo;
        </p>

        <p>
          Margaret will be touring the southern part of the US throughout most of March 2014, making stops in Maryland, Virginia, Nortch Carolina, Georgia, Flordia, Louisiana, Texas, Arizona, and California.
        </p>

        <p>
          <blockquote>&ldquo;Over the years, Margaret Killjoy has spoken in our community bookstore on a wide range of topics &mdash; literary, artistic and political. Killjoy&lsquo;s presentations are always marked with a unique flourish for showmanship and never fail to find an audience eager to be challenged and entertained.&rdquo;</blockquote>
          &mdash; Libertie Valance, Worker/Owner at Firestorm Cafe &amp; Book
        </p>

        <p>
          <blockquote>&ldquo;This gritty evocative novel explores the question of what an anarchist community can do to resist the assaults that are sure to come if any such social formation were to exist.  That&lsquo;s all extremely interesting and yet more important still is that this is an exciting and mysterious novel, a story of war and love in some fictional mountainous country with echoes of nineteenth century Latin America, eastern Europe, central Asia; by the time you&lsquo;re done you feel you&lsquo;ve gotten a glimpse into a forgotten part of our history that is nevertheless very real.&rdquo;</blockquote>
          &mdash; Kim Stanley Robinson
        </p>

        <p>
          <blockquote>&ldquo;This is a fierce, intelligent, hopeful book - a fantasy (of sorts) of unusual seriousness, humanity and wit.&rdquo;</blockquote>
          &mdash;Felix Gilman (author of The Half-Made World)
        </p>
      </div> <!-- .bio -->
    </div> <!-- .talk -->
  </div> <!-- .description -->


  <div id="sponsors" class="row">
    <div class="span12">
      <h2>Sponsors</h2>

      <div class="row">
        <div class="span6">
          <a href="https://tonx.org"><img src="http://farmhouse.s3.amazonaws.com/images/sponsors/tonx.png" alt="Tonx Coffee" /></a>
        </div>

        <div class="span6">
        </div>
      </div><!-- .row -->

    </div><!-- .span12 -->
  </div>

</article>
