<style>
.progress {
  margin: 3em 0 .5em 0;
}

h3 {
  margin: 1em 0 .5em 0;
}

img {
  width: 100%;
}
</style>

<article>
  <div class="row">
    <div class="span12" id="civ">
      <div class="well alert-success">
        <h1>I&rsquo;m <strong>fundraising</strong> to fight my dog&rsquo;s cancer.<br>
          And the <strong>$15,000</strong> &ndash; <strong>$20,000</strong> in vet bills.
          <a href="#donations">Contribute below &darr;</a>
        </h1>
      </div>

      <div class="progress progress-success">
        <div class="bar" style="width: 1%"></div>
      </div>
      <p style="text-align: right">Progress toward $20,000</p>

      <h2>Meet Civ.</h2>
      <%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/people/civ.jpg", :class => "photo"), "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %><%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/people/civ-next-to-chair-wheels-by-shane-becker.jpg", :class => "photo"), "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %><%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/people/civ-next-to-closet-door-by-shane-becker.jpg", :class => "photo"), "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %><%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/people/civ-next-to-steve-klabnik-by-shane-becker.jpg", :class => "photo"), "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %>

      <p>
        It&rsquo;s
        <%= link_to "Civ&rsquo;s".html_safe, "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %>
        world. We just live in it. She likes to sleep close to things and makes
        <%= link_to "a great co-pilot.", "http://flickr.com/veganstraightedge/5408991746", :title => "(or 'pilot' in her mind)", :rel => "external" %>
      </p>

      <h1>She&rsquo;s got cancer.</h1>

      <p>She is a 13 year old <a href="http://en.wikipedia.org/wiki/Entlebucher_Mountain_Dog" title="Entlebucher Mountain Dog - Wikipedia">Entlebucher Mountain Dog</a> who thinks she is still a puppy. She hasn&rsquo;t let her dodgy, distinguished old-lady hips stop her from following me up and down the stairs and all around The Farmhouse backyard.</p>

      <p>She&rsquo;s been my best buddy for 13 and a half years, since she was 6 weeks old. Together we&rsquo;ve gone on countless hikes, played infinite games of catch, lived in 8 cities, and crossed state-lines/time-zones. She hates getting groomed and will wedge herself under beds or in a cactus patch when she hears the mobile groomer&rsquo;s truck turns onto the street.</p>

      <%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-1.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-2.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-3.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-4.jpg", :class => "photo") %>


      <h3>Two cancers, actually.</h3>

      <p>Today, the vet told me that Civ has liver cancer and a mass in her chest (<a href="http://en.wikipedia.org/wiki/Thymoma" title="Thymoma">Thymoma</a>). Both are slow growing, but defeatable using either surgery or radiation. Both will require CT scans, bloodwork, and a treatment plan. This means massive vet bills. Like <em>$15,000 to $20,000</em> massive.</p>

      <p>We&rsquo;re all dying. In the Tibetan-philosophy, Sylvia-Plath sense of the word, I know we&rsquo;re all dying. We all know that someday, we will have to say the hardest goodbye. But Civ&rsquo;s time is not here yet. I&rsquo;m asking you to help me help Civ.</p>

<%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-5.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-6.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-7.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-8.jpg", :class => "photo") %>

      <h3>I need your help.</h3>

      <p><strong>I&rsquo;m proud</strong>. I don&rsquo;t <em>want</em> to ask for charity. But I also don&rsquo;t want to watch my dog die because of my fragile ego. I&rsquo;ve come up with four ways that you can help me.</p>

      <ol>
        <li>You can <a href="http://shop.farmhouse.co" title="The Farmhouse Shop">buy something from <strong>The Farmhouse Shop</strong></a> (more coming very soon)</li>
        <li>You can <a href="http://farmhouse.la/barn-talks/2-margaret-killjoy" title="The Farmhouse in Hollywood, California">buy a ticket to the upcoming <strong>Barn Talk</strong></a> (with Margaret Killjoy) on March 16, 2014 (<strong>$20&ndash;$50</strong>)</li>
        <li>You can <strong><a href="#donations">donate money</a></strong> straight away (see how below)</li>
        <li>You can <a href="#farmhouse-credits">buy <strong>Future Farmhouse Credits&trade;</strong></a> that can be used toward any future Farmhouse events or products</li>
      </ol>

      <p>Maybe you could donate the cost of your morning coffee, or your lunch, or your post-work drink. ANY amount that you can give would be a huge help and would go a long way towards getting Civ the care that she needs. (If, by chance, I get more than I need for all of her bills, I&rsquo;ll donate the remainder to an animal sanctuary.) If you are unable to give money, you can still help up spread the word by sharing this link on Facebook, <a href="https://twitter.com/intent/tweet?text=Help%20@civthedog%20beat%20cancer!%0A%0Ahttp://farmhouse.la/civ">Twitter</a>, Instagram, Tumblr, etc.</p>

      <p>Really, truly, anything helps.</p>
      <p>Love,<br> Shane</p>
    </div>
  </div> <!-- .row -->


  <div class="row">
    <div class="span6" id="donations">
      <h2>Donations</h2>
      <p>You set the amount on the PayPal site or in the subject line of the Square Cash email.</p>

      <div class="row">
        <div class="span3" id="paypal">
          <%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/civ/donate-with-paypal.png", alt: "Donate using PayPal"), "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BBE39UY7TYWA8", title: "Donate using PayPal" %>
        </div>
        <div class="span3" id="square-cash">
          <%= mail_to "veganstraightedge@gmail.com", image_tag("http://farmhouse.s3.amazonaws.com/images/civ/donate-with-square.png", alt: "Donate using Square Cash"), cc: "cash@square.com", subject: "$25", body: "Donation to CIV's cancer fund using Square Cash.\n\n\n", title: "Donate using Square Cash" %>
        </div>
      </div>
    </div>

    <div class="span6" id="farmhouse-credits">
      <h2>Future Farmhouse Credits&trade;</h2>
      <p>You set the amount on the PayPal site or in the subject line of the Square Cash email.</p>

      <div class="row">
        <div class="span3">
          <%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/civ/pay-with-paypal.png", alt: "Buy now using PayPal"), "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BBE39UY7TYWA8", title: "Donate using PayPal" %>
        </div>
        <div class="span3">
          <%= mail_to "veganstraightedge@gmail.com", image_tag("http://farmhouse.s3.amazonaws.com/images/civ/pay-with-square.png", alt: "Buy now using Square Cash"), cc: "cash@square.com", subject: "$25", body: "Buying Future Farmhouse Credits using Square Cash.\n\n\n", title: "Buy Future Farmhouse Credits using Square Cash" %>
        </div>
      </div>
    </div>
  </div> <!-- .row -->


</article>
