<article>
  <div class="row">
    <div class="span12" id="civ">
      <h2>Meet Civ.</h2>
      <%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/people/civ.jpg", :class => "photo"), "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %><%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/people/civ-next-to-chair-wheels-by-shane-becker.jpg", :class => "photo"), "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %><%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/people/civ-next-to-closet-door-by-shane-becker.jpg", :class => "photo"), "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %><%= link_to image_tag("http://farmhouse.s3.amazonaws.com/images/people/civ-next-to-steve-klabnik-by-shane-becker.jpg", :class => "photo"), "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %>

      <p>
        It&rsquo;s
        <%= link_to "Civ&rsquo;s".html_safe, "http://twitter.com/civthedog", :title => "@CivTheDog on Twitter", :rel => "external" %>
        world. We just live in it. She likes to sleep close to things and makes
        <%= link_to "a great co-pilot.", "http://flickr.com/veganstraightedge/5408991746", :title => "(or 'pilot' in her mind)", :rel => "external" %>
      </p>

      <p>She is an almost 14 year old <a href="http://en.wikipedia.org/wiki/Entlebucher_Mountain_Dog" title="Entlebucher Mountain Dog - Wikipedia">Entlebucher Mountain Dog</a> who thinks she is still a puppy. She hasn&rsquo;t let her dodgy, distinguished old-lady hips stop her from following me up and down the stairs and all around The Farmhouse backyard.</p>

      <p>She&rsquo;s been my best buddy for almost 14 and a half years, since I rescued her in Bloomington, Indiana  when she was 6 weeks old. Together we&rsquo;ve gone on countless hikes, played infinite games of catch, lived in 8 cities, and crossed state-lines/time-zones. She hates getting groomed and will wedge herself under beds or in a cactus patch when she hears the mobile groomer&rsquo;s truck turns onto the street.</p>

      <%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-1.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-2.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-3.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-4.jpg", :class => "photo") %>

      <%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-5.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-6.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-7.jpg", :class => "photo") %><%= image_tag("http://farmhouse.s3.amazonaws.com/images/civ/civ-from-instagram-8.jpg", :class => "photo") %>
    </div>
  </div> <!-- .row -->
</article>
