<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="author"      content="Shane Becker" />
  <meta name="description" content="The Farmhouse in Hollywood, California" />
  <meta name="viewport"    content="width=device-width, initial-scale=1" />

  <title>The Farmhouse in Hollywood, California</title>

  <%= stylesheet_link_tag "new/application" %>
  <%# javascript_include_tag "new/vendor/modernizr.custom.34215.js" %>
</head>

<body>
  <header role="banner">
    <div class="l-container">

      <a class="brand-logo" href="/">The Farmhouse</a>

      <div class="nav-wrapper">
        <nav class="nav-collapse" role="navigation">
          <ul class="nav-main">
            <%= nav_to "HELP CIV BEAT CANCER".html_safe, civ_path %>

            <%= nav_to "Barn Talks",     barn_talks_path %>
            <%= nav_to "Farmhouse Conf", conf_path(5) %>
            <%= nav_to "History",        house_path %>
            <%= nav_to "Shop",           shop_path %>

            <%#
            <li><a href="#projects">Projects</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#photos">Photos</a></li>
            <li><a href="#shop">Shop</a></li>
            <li><a href="#contact">Contact</a></li>
            %>
          </ul>
        </nav>

      </div> <!-- end .nav-wrapper -->
    </div> <!-- end .l-container -->
  </header>

  <div class="hero" style="background-image: url(<%= asset_path "http://assets.farmhouse.co.s3.amazonaws.com/images/new/farmhouse.jpg" %>)">
    <div class="hero-container">
      <div class="hero-content">
        <h2>The New New</h2>
        <h3>Re-Branding, Re-Designing, Re-Thinking</h3>
        <p>We&rsquo;re relaunching everything about this site and the whole Farmhouse brand. For now, it&rsquo;s just a new homepage. As we get more of the site, we&rsquo;ll push that out too.</p>
        <!-- <p><a href="#"><em>Read more here.</em></a></p> -->
        <div class="hero-footer">
          <p>
            Hang in there with us.
            <br>
            <em>Pardon our dust while we&rsquo;re under construction.</em>
          </p>
          <!-- <a class="btn btn-c" href="#">$20-$50</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-home">
    <div class="l-container">
      <div class="panel-content">
        <div class="panel-img"></div>
        <p class="t-lead">Storytelling events in a barn and under a 111 year old avocado tree. Photo zines. Vegan cookbooks. A podcast. Music, editorial and fashion photography. Organic gardens. Arts, style and design blog. Personal web publishing software. Open source organization. Watercoloring painting design assets. Positive attitude / Positive altitude.</p>
        <a class="btn btn-a"href="#">We do a lot</a>
      </div>
    </div>
  </div>

  <main role="main">
    <div class="l-container">
      <div class="feature">
        <%= image_tag "http://assets.farmhouse.co.s3.amazonaws.com/images/new/farmhouse-conf-frontyard-sign-by-tj-nelson.jpg" %>
        <h3>What’s the farmhouse, anyway?</h3>
        <p>The Farmhouse is located in the heart of Hollywood, California and is home to <%= link_to "Farmhouse Publishing", publishing_path %>, <%= link_to "Barn Talks", barn_talks_path %> and (formerly) <%= "Farmhouse Conf" %>. The Farmhouse and The <%= link_to "Friends of the Farmhouse", us_path %> collaborate together or produce separately a slew of projects.</p>
      </div>
      <div class="feature">
        <%= link_to civ_path do %>
          <%= image_tag "http://assets.farmhouse.co/images/new/barn.jpg" %>
          <h3>Civ The Dog</h3>
        <% end %>
        <p><%= link_to "Civ", civ_path %> is 13 and a half years old. She&rsquo;s battling two cancers (chest and liver). We&rsquo;ve been running a fund-raiser to help defeat her medical bills and get her past this. Fortunately, a lot of people have been very generous and supportive. My undying thanks to everyone that has contributed. It&rsquo;s Civ&rsquo;s house, I just live here. &mdash; Shane</p>
      </div>
      <div class="feature">
        <%= link_to conf_path(5) do %>
          <%= image_tag "http://assets.farmhouse.co.s3.amazonaws.com/images/new/conf-5.jpg" %>
          <h3>Farmhouse Conf</h3>
        <% end %>
        <p>Farmhouse Conf was the greatest backyard storytelling conference there ever was. Nestled underneath a 111 year old avocado tree and in a <em>charming</em> old barn, FHC was sometimes described as somewhere in between Ted Talks, This American Life and a Fourth of July BBQ. <a href="/conf/5">FHC5</a> was the final show.</p>
      </div>
    </div>
  </main>

  <footer role="contentinfo">
    <div class="l-container">

      <div class="h-card">
        <div class="footer-find-us">
          <h4>Find Us</h4>
          <p class="h-adr p-adr">
            <span class="p-street-address">1558 Gordon Street</span>
            <span class="p-locality">Los Angeles,</span> <span class="p-region">CA</span> <span class="p-postal-code">90028</span>
          </p>
          <p class="p-tel">(801) 898-9481</p>
        </div>
        <div class="footer-contact">
          <h4>Contact Us</h4>
          <p class="u-email">barn@farmhouse.co</p>
          <p>@farmhouse</p>
        </div>
      </div>

      <div class="footer-mailing">
        <h4>Mailing List</h4>
        <form class="form light-form" action="">
          <label for="mailing-list">Stay up to date on news and events</label>
          <div class="form-single-field">
            <input id="mailing-list" type="email" />
            <input class="btn btn-b" type="submit" value="Go" />
          </div>
        </form>
      </div>

      <p class="footer-copyright">
        Copyright &copy; The Farmhouse, Inc. <span class="year"><%= Time.now.year %></span>
      </p>

    </div>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.0.min.js"><\/script>')</script>  
  <%= javascript_include_tag "new/vendor/responsive-nav.min.js" %>
  <%= javascript_include_tag "new/scripts.js" %>
</body>
</html>
