<article>
  <div class="row">
    <header class="span12">
      <h1>A Live / Work Space in Hollywood, CA</h1>
    </header>

    <p class="span12">
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/home/avocado-tree-at-night-at-the-farmhouse-by-heather-peterson.jpg",    :alt => "100+ year old avocado tree at The Farmhouse by @hrrrthrrr" %>

      <span class="photo-attribution">
        <%= link_to "by", "http://flickr.com/milllkmaid/6258380370/", :rel => "external" %>
        <%= link_to "Heather Peterson", "http://hrrrthrrr.com", :rel => "external" %>
      </span>
    </p>

    <p class="span12">
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/home/civ-in-the-shed-at-night-at-the-farmhouse-by-heather-peterson.jpg", :alt => "The Farmhouse backyard by @hrrrthrrr" %>

      <span class="photo-attribution">
        <%= link_to "by", "http://flickr.com/milllkmaid/6257853097/", :rel => "external" %>
        <%= link_to "Heather Peterson", "http://hrrrthrrr.com", :rel => "external" %>
      </span>
    </p>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Co-Working</h2>
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/home/living-room-office-at-the-farmhouse-by-shane-becker.jpg", :alt => "The Office at The Farmhouse in Hollywood, CA" %>

      <p class="photo-attribution">
        <%= link_to "by", "http://flickr.com/veganstraightedge/6711133615/", :rel => "external" %>
        <%= link_to "Shane Becker", "http://twitter.com/veganstraightedge", :rel => "external" %>
      </p>

      <p class="notes">
        The living room is really more office than anything else.
        Currently, it's occupied by <a href="http://twitter.com/veganstraightedge" title="Twitter">Shane Becker</a>,
        <a href="http://twitter.com/evanphx" title="@evanphx on Twitter">Evan Phoenix</a>,
        <a href="http://twitter.com/johnbender" title="Twitter">John Bender</a> and
        <a href="http://hrrrthrrr.com" title="Twitter">Heather Peterson</a>.
        Overflow guest seating is available at the 10 person dining room table.
      </p>
    </div>

    <div class="span6">
      <h2>Co-Living</h2>
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/home/civ-in-the-backyard-grass-at-the-farmhouse-by-heather-peterson.jpg", :alt => "Civ holding down the backyard at the Farmhouse in Hollywood, CA" %>

      <p class="photo-attribution">
        <%= link_to "by", "http://flickr.com/veganstraightedge/5533623778/", :rel => "external" %>
        <%= link_to "Heather Peterson", "http://hrrrthrrr.com", :rel => "external" %>
      </p>

      <p class="notes">
        Let's be honest. It's <a href="http://twitter.com/civthedog" title="Twitter">Civ's</a> house and yard.
        She just lets us use the place. She keeps the raccoons and possums at bay.
        She also helps with avocado cleanup duty.
        Upstairs, three people live full-time at the house.
      </p>

    </div>
  </div> <!-- .row -->

  <div class="row">
    <div class="span6">
      <h2>Conferences</h2>
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/home/farmhouse-conf-frontyard-sign-by-tj-nelson.jpg", :alt => "Farmhouse Conf Front Yard Sign by Tj Nelson" %>

      <p class="photo-attribution">
        <%= link_to "by", "http://flickr.com/veganstraightedge/5696302641/", :rel => "external" %>
        <%= link_to "Tj Nelson Jr", "http://twitter.com/tjnelsonjr", :rel => "external" %>
      </p>

      <p class="notes">
        The Farmhouse is home to <%= link_to "Farmhouse Conf", conf_path("conf") %> which happens once a year in May.
        The format is simple: <b>no projector</b>, <b>no slides</b>, just <b>incredible stories</b> told by <b>amazing people</b>.
        Oh yeah, it's under a <a href="http://flickr.com/veganstraightedge/6143359534/" title="The shed and avocado tree in the backyard at the Farmhouse in Hollywood, CA">100 year old avocado tree</a>.
      </p>
    </div>

    <div class="span6">
      <h2>Potlucks</h2>
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/home/farmhouse-conf-food-setup-by-tj-nelson.jpg", :alt => "Farmhouse Conf Food Setup by Tj Nelson" %>

      <p class="photo-attribution">
        <%= link_to "by", "http://flickr.com/veganstraightedge/5696880416/", :rel => "external" %>
        <%= link_to "Tj Nelson Jr", "http://twitter.com/tjnelsonjr", :rel => "external" %>
      </p>

      <p class="notes">
        At The Farmhouse, all food is both <%= link_to "vegan and communal", rules_path %>.
        If you're a Farmhouse guest or an attendee of the conference, all house food is up for grabs.
        From time to time we have potlucks where everyone brings something.
      </p>
    </div>
  </div> <!-- .row -->

  <div id="map" class="row">
    <div class="span12">
      <h2>In the heart of Hollywood, California</h2>
      <iframe width="938" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1558+Gordon+St,+Los+Angeles,+CA+90028&amp;aq=0&amp;oq=15&amp;sll=37.0625,-95.677068&amp;sspn=81.760296,100.898438&amp;ie=UTF8&amp;hq=&amp;hnear=1558+Gordon+St,+Los+Angeles,+California+90028&amp;t=m&amp;50=34.099794,-118.319321&amp;spn=0.031983,0.080595&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
  </div>
</article>
