<article id="location">
  <div class="row">
    <div class="span12">
      <h2>Photography and Film Location</h2>
    </div>
  </div>

  <div class="row">
    <h3 class="span12">Fashion Photography Shoot by Ignacio Galvez</h3>

    <div class="span12">
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/location/by-ignacio-galvez/photo-by-ignacio-galvez-at-the-farmhouse-10.jpg" %>

      <p>
        Photo by
        <%= link_to "Ignacio Galvez", "http://ignaciogalvez.com", :rel => "external" %>
      </p>
    </div> <!-- .span12 -->
  </div> <!-- .row -->

  <div class="row">
    <div class="span6">
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/location/by-ignacio-galvez/photo-by-ignacio-galvez-at-the-farmhouse-06.jpg" %>

      <p>
        Photo by
        <%= link_to "Ignacio Galvez", "http://ignaciogalvez.com", :rel => "external" %>
      </p>
    </div> <!-- .span6 -->
    <div class="span6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> <!-- .span6 -->
  </div> <!-- .row -->

  <%= render :partial => 'photo_by_ignacio_galvez', :locals => { :first => "08", :second => "09" } %>
  <%= render :partial => 'photo_by_ignacio_galvez', :locals => { :first => "01", :second => "02" } %>
  <%= render :partial => 'photo_by_ignacio_galvez', :locals => { :first => "03", :second => "07" } %>
  <%= render :partial => 'photo_by_ignacio_galvez', :locals => { :first => "04", :second => "05" } %>

  <div class="row">
    <h3 class="span12">Music Video Shoot by Nate Cornett</h3>

    <div class="span12">
      <iframe src="http://player.vimeo.com/video/36680439?title=0&amp;byline=0&amp;portrait=0" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <p>
        <a href="http://vimeo.com/36680439">Kristen May - "Goodbye My Love"</a> by <a href="http://vimeo.com/cornettdp">Nate Cornett</a>
      </p>
    </div> <!-- .span12 -->
  </div> <!-- .row -->

</article>
