<article id="location">
  <div class="row">
    <div class="span12">
      <h2>Photography and Film Location</h2>
    </div>
  </div>

  <div>
    <%= image_tag "http://farmhouse.s3.amazonaws.com/images/location/by-ignacio-galvez/photo-by-ignacio-galvez-at-the-farmhouse-10.jpg" %>

    <p>
      Photo by
      <%= link_to "Ignacio Galvez", "http://ignaciogalvez.com", :rel => "external" %>
    </p>
  </div> <!-- .span12 -->

  <div class="row">
    <div class="span6">
      <%= image_tag "http://farmhouse.s3.amazonaws.com/images/location/by-ignacio-galvez/photo-by-ignacio-galvez-at-the-farmhouse-06.jpg" %>

      <p>
        Photo by
        <%= link_to "Ignacio Galvez", "http://ignaciogalvez.com", :rel => "external" %>
      </p>
    </div> <!-- .span6 -->
    <div class="span6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> <!-- .span6 -->
  </div> <!-- .row -->

  <%= render :partial => 'photo_by_ignacio_galvez', :locals => { :first => "08", :second => "09" } %>
  <%= render :partial => 'photo_by_ignacio_galvez', :locals => { :first => "01", :second => "02" } %>
  <%= render :partial => 'photo_by_ignacio_galvez', :locals => { :first => "03", :second => "07" } %>
  <%= render :partial => 'photo_by_ignacio_galvez', :locals => { :first => "04", :second => "05" } %>

</article>
