<?xml version="1.0" encoding="UTF-8"?>

<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:itunesu="http://www.itunesu.com/feed" version="2.0" >
  <channel>
    <title>The Farmhouse Podcast</title>
    <link>http://farmhouse.la/podcast/feed</link>
    <pubDate>Mon, 08 Oct 2012 19:15:56 -0700</pubDate>
    <language>en-us</language>
    <copyright>Creative Commons Attribution 3.0 Unported (CC BY 3.0) : http://creativecommons.org/licenses/by/3.0/</copyright>

    <itunes:subtitle>Conversations with The Farmhouse Family and Friends</itunes:subtitle>
    <itunes:author>Shane Becker</itunes:author>

    <itunes:summary>
      Friends and Family of The Farmhouse in Hollywood, California. Occasionally, we talk about things and now we're sharing those with other people.
    </itunes:summary>
    <description>
      Friends and Family of The Farmhouse in Hollywood, California. Occasionally, we talk about things and now we're sharing those with other people.
    </description>

    <itunes:owner>
      <itunes:name>Shane Becker</itunes:name>
      <itunes:email>barn@farmhouse.la</itunes:email>
    </itunes:owner>

    <itunes:image href="http://farmhouse.s3.amazonaws.com/podcast/images/the-farmhouse-podcast-cover.png"/>
    <itunes:explicit>yes</itunes:explicit>

    <itunes:category text="Technology">
      <itunes:category text="Developers"/>
    </itunes:category>

    <% @episodes.each do |episode| %>
      <item>
        <title><%= episode.title %></title>
        <itunes:author><%= episode.authors %></itunes:author>

        <itunes:summary>
          <%= episode.itunes_summary %>
        </itunes:summary>

        <enclosure url="<%= episode.url %>" length="<%= episode.enclosure_length %>" type="audio/mpeg"/>
        <guid><%= podcast_path(episode) %></guid>
        <pubDate>Sat, Nov 24 2012 19:10:44 -0800</pubDate>

        <itunes:duration><%= episode.duration %></itunes:duration>
        <itunes:keywords><%= episode.keywords %></itunes:keywords>
      </item>
    <% end %>

  </channel>
</rss>
