<div class="hero-unit">
  <h1>Farmhouse Labs</h1>
  <p>
    A program to support
    <strong>amazing people</strong> and
    <strong>incredible projects</strong>
  </p>
</div>

<div class="row">
  <div class="span6">
    <h1>How It Works</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <h1>Farmhousey Project Ideas</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <h1>Non-Farmhouse Project Ideas</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div> <!-- .span6 -->

  <div class="span6">

    <div class="well">
      <h3>About You</h3>

      <%= form_for(@lab) do |f| %>
        <% if @lab.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@lab.errors.count, "error") %> prohibited this lab from being saved:</h2>

            <ul>
              <% @lab.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.label :name, "Your Name" %>
        <%= f.text_field :name %>

        <div class="input-prepend">
          <%= f.label :email, "Your Email" %>
          <%= f.text_field :email %>
        </div>

        <div class="input-prepend">
          <%= f.label :person_twitter, "Your Twitter" %>
          <%= f.text_field :person_twitter %>
        </div>

        <div class="input-prepend">
          <%= f.label :phone, "Your Phone Number" %>
          <%= f.text_field :phone %>
        </div>


        <h3>About the Project</h3>

        <div class="input-prepend">
          <%= f.label :project_twitter, "Project Twitter" %>
          <%= f.text_field :project_twitter %>
        </div>

        <%= f.label :title, "Project Title" %>
        <%= f.text_field :title %>

        <%= f.label :description, "Project Description" %>
        <%= f.text_area :description %>

        <%= f.label :budget, "Project Budget <span class='label'>optional</span>".html_safe %>
        <%= f.text_field :budget %>


        <h3>Dates</h3>
        <%= f.label :starts_on, "When do you want to start?" %>
        <%= f.date_select :starts_on,
                          {
                            :start_year => Time.now.year,
                            :end_year   => Time.now.year + 1,
                            :order      => [:month, :day, :year],
                            :prompt     => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }
                          },
                          {
                            :class => "span2"
                          }
                        %>

        <%= f.label :ends_on, "How long will it take you?" %>
        <%= f.date_select :ends_on,
                          {
                            :start_year => Time.now.year,
                            :end_year   => Time.now.year + 1,
                            :order      => [:month, :day, :year],
                            :prompt     => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }
                          },
                          {
                            :class => "span2"
                          }
                        %>


      <% end %>
    </div> <!-- .well -->

    <div class="form-actions">
      <button class="btn btn-large btn-primary" type="submit">Submit Your Labs Proposal</button>
    </div>
  </div> <!-- .span6 -->
</div> <!-- .row -->
