<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <h1 class="brand"><%= link_to_unless_current "The Farmhouse", root_path, :rel => "home" %></h1>

      <div class="nav-collapse">
        <ul class="nav">
          <%= nav_to "Farmhouse Conf",   year_path("2012") %>
          <%= nav_to "Last Year's Conf", year_path("2011") %>
          <%= nav_to "Farmhouse Rules",  rules_path %>
          <%= nav_to "Who We Are",       us_path %>
        </ul>
      </div>
    </div>
  </div>
</div>
