<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to "The Farmhouse", root_path, :rel => "home", :class => "brand" %>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= nav_to "Farmhouse Conf", conf_path(5) %>
          <%= nav_to "People",         us_path %>
          <%= nav_to "History",        house_path %>
          <%= nav_to "Rules",          rules_path %>
          <%= nav_to "Podcast",        podcasts_path %>
          <%= nav_to "Publishing",     publishing_path %>
        </ul>
      </div>
    </div>
  </div>
</div>
