<!DOCTYPE html>
<html>
<head>
  <title>Farmhouse</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <link rel="profile" href="http://microformats.org/profile/hcard">
</head>

<body>
  <div class="container">

    <nav class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <h1><%= link_to_unless_current "The Farmhouse", root_path, :class => "brand" %></h1>

          <ul class="nav">
            <%= nav_to "Register",  register_path %>
            <%= nav_to "Conf",      year_path("2012") %>
            <%= nav_to "Last Year", year_path("2011") %>
          </ul>
        </div>
      </div>
    </nav>

    <%= render :partial => '/layouts/admin_nav' %>

    <%= yield %>
  </div> <!-- /div.container -->

  <%= render :partial => '/layouts/google_analytics' %>

</body>
</html>
