<!DOCTYPE html>
<html>
<head>
  <title>Farmhouse</title>
  <%= stylesheet_link_tag "application"              %>
  <%= stylesheet_link_tag "bootstrap-min"            %>
  <%= stylesheet_link_tag "bootstrap-responsive-min" %>


  
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <link rel="profile" href="http://microformats.org/profile/hcard">
</head>

<body>
  <div class="container">

    <nav role="navigation" class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <h1 class="brand"><%= link_to_unless_current "The Farmhouse", root_path, :rel => "home" %></h1>

          <ul class="nav">
            <%= nav_to "Register",  register_path %>
            <%= nav_to "Conf",      year_path("2012") %>
            <%= nav_to "Last Year", year_path("2011") %>
            <%= nav_to "Rules",     rules_path %>
          </ul>
        </div>
      </div>
    </nav>

    <section role="main">
      <%= render :partial => '/layouts/admin_nav' %>

      <%= render :partial => '/layouts/register_banner' %>

      <%= yield %>
    </section>
  </div> <!-- .container -->

  <footer role="contentinfo" id="site" class="container">
    <ul>
      <li><a href="mailto:barn@farmhouse.la">barn@farmhouse.la</a></li>
      <li><%= link_to "1558 Gordon St / LA, CA / 90028", "http://goo.gl/maps/tmWX", :rel => "external" %></li>
    </ul>
  </footer>

  <%= render :partial => '/layouts/google_analytics' %>
</body>
</html>
