<!DOCTYPE html>
<html  id="<%= @slug %>" class="no-js" dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
  <meta name="description" content="A Live / Work Space in Hollywood, CA">
  <meta name="author"      content="Shane Becker">
  <meta name="viewport"    content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <link rel="profile" href="http://microformats.org/profile/hcard">
  <link rel="profile" href="http://microformats.org/profile/hatom">

  <% if request.path =~ /podcast/ %>
    <%= auto_discovery_link_tag(:rss, podcasts_feed_path, { :title => "The Farmhouse Podcast" }) %>
  <% end %>
</head>

<body id="<%= @sub_slug %>">
  <div class="container">
    <%= render "/layouts/nav" %>

    <section role="main">
      <%= yield %>
    </section>
  </div> <!-- .container -->

  <footer role="contentinfo" id="site" class="container">
    <ul class="h-card vcard">
      <li style="display:none" class="fn p-name">The Farmhouse</li>
      <li><a href="mailto:barn@farmhouse.la" class="email u-email">barn@farmhouse.la</a> | </li>
      <li><a href="http://twitter.com/farmhouse" class="url u-url" rel="me">@farmhouse</a></li>
      <li>
        <%= link_to "http://goo.gl/maps/tmWX", :rel => "external" do %>
          <span class="street-address p-street-address">1558 Gordon St</span> /
          <span class="locality p-locality">LA</span>,
          <span class="region p-region">CA</span> /
          <span class="postal-code p-postal-code">90028</span>
        <% end %>
      </li>
    </ul>
  </footer>

  <%= render "/layouts/google_analytics" %>
</body>
</html>
